*{
    margin:0;
    padding:0;
}
.profile_image img{
    width:63px;
    margin: -18px 0px 0px 0px !important;
}
.btn{
    margin-left:7px !important;
}

.ml-2:hover{
    background:yellow;
} 

.btn {
--bs-btn-padding-x: -2.25rem !important;  
 
}

.btn:hover{
    background:rgb(21, 161, 216);
}

#search_button{

    border-top-left-radius: 91 !important;
    border-bottom-left-radius: 64 !important;    
}
#btn{
    border-radius: 0px 0px 0px 0px !important;
}

#buttons{

    font-size: 10px;;
}






